@charset "utf-8";

/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

/*---------------------- Cart ---------------------*/
.cart {
	padding: 10px 0px 30px;
	background-color: #F5F5FA;
	position: relative;
}

.cart_infomation {
	display: flex;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.label_heading_cart {
	margin:  0px  0px 10px 20px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.label_heading_cart h4 {
	font-size: 25px;
	font-weight: 500;
	margin: 0px;
	color: black;
	line-height: 28px;
}

.cart-cotent-left {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: 10px 16px;
	position: relative;
}

.state_line {
	border-radius: 8px;
	background-color: white;
	padding: 8px 15px;
	width: 100%;
	min-height: 73px;
	margin-bottom: 10px;
}

.img_item {
	width: 90%;
	height: 50px;
	padding: 10px 0;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid rgb(235, 235, 240);
	position: relative;
	background-repeat: no-repeat;
	padding-top: 70%;
	background-size: contain;
	background-position: center;
}

.cart-content-book {
	background-color: white;
	width: 100%;
	padding: 10px 5px 15px;
}

.table_content_book {
	width: 100%;
}

.cart-top-wrap {
	width: 100%;
	margin-block: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	padding-top: 55px;
}

.cart-top {
	height: 5px;
	width: 90%;
	background-color: #DDDDDD;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 100px;
}

.cart-top-item {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}



.cart-top-item i {
	color: #dddddd;
}

.cart-top.cart {
	border: 1px solid #0DB7EA;
}

.cart-top-cart i {
	color: #0DB7EA;
}

.cart-content-left {
	flex: 2;
	padding-right: 12px;
}

.cart-content-left table {
	width: 100%;
	text-align: center;
	margin-left: 20px;
}

.cart-content-left table th {
	padding-bottom: 30px;
	font-size: 12px;
	text-transform: uppercase;
	color: #333;
	border-collapse: collapse;
	border-bottom: 2px solid #dddddd;
}

.cart-content-left table p {
	font-size: 12px;
	color: #333;
}

.cart-content-left table input {
	width: 30px;
}

.cart-content-left table span {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #dddddd;
	cursor: pointer;
}

.cart-content-left table td {
	padding: 20px 0;
	border-bottom: 2px solid #dddddd;
}

.cart-conten-left td:first-child img {
	width: 130px;
}

.cart-content-left td:nth-child(2) {
	max-width: 130px;
}

.cart-content-left td:nth-child(3) img {
	width: 30px;
}

.cart-content-right {
	width: 420px;
	
}

.box_pay{
	position: sticky;
	background-color: white;
	align-items: center;
	-webkit-box-pack: center;
}

.table_content_pay{
	width: 95%;
	margin: 10px;
	display: inline-table;
}



.table_content_pay  th {
	padding:10px 0px 30px;
	font-size: 20px;
	color: #333;
	border-collapse: collapse;
	
}

.table_content_pay td {
	font-size: 17px;
	color: #333;
	padding: 6px 0;
}



.cart-content-right tr td:last-child {
	text-align: right;
}

.cart-content-right-text {
	margin: 20px 0;
	text-align: center;
}

.cart-content-right-text p {
	font-size: 12px;
	color: #333;
}

.cart-content-right-button {
	text-align: center;
	align-items: center;
}


.cart-content-right-button button {
	padding: 0 18px;
	height: 35px;
	cursor: pointer;
}

.cart-content-right-button button:first-child {
	background-color: #fff;
	margin-right: 20px;
}

.cart-content-right-button button:first-child:hover {
	background-color: #ddd;
}

.cart-content-right-button button:last-child {
	background-color: white;
	color: #0B74E5;
	border-radius: 8px;
	border: 1px solid rgb(39,39,42);
}

.cart-content-right-button button:last-child:hover {
	background-color: #373333;
	color: lightyellow;
}

.cart-content-right-dangnhap {
	margin-top: 20px;
}

.cart-content-right-dangnhap p {
	font-size: 12px;
	color: s #333;
}



/*---------------------- Payment ---------------------*/
.payment-content-row {
	display: flex;
	width: 100%;
}

.payment-top-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.payment-top {
	height: 2px;
	width: 70%;
	background-color: #DDDDDD;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 100px;
}

.information_payment{
	display: flex;
	flex-direction: column;
}

.payment-top-item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #DDDDDD;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}

.payment-top-item i {
	color: #dddddd;
}

.payment-top-payment {
	border: 1px solid #0DB7EA;
}

.payment-top-payment i {
	color: #0DB7EA;
}

.payment-content-left {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	width: 60%;
}

.payment-content-right {
	
	width: 40%;
	border-left: 2px solid #ddd;
	padding-left: 12px;
}

.payment-content-left-method-delivery{
	border-radius: 8px;
	margin: 10px 16px 0 0;
	background-color: white;
	padding: 10px 0px 10px 16px;
}
.payment-content-left p{
	font-size: 20px;
	font-weight: 500;
}

.payment-content-left-method-delivery-item{
	display: flex;
	text-align: center;
	-webkit-box-align: center;
}

.payment-content-left label{
	font-size: 17px;
	font-weight: 300;
	padding-left: 5px;
}


.payment-content-left p,
label {
	margin-top: 10px;

}

.btn_completePay{
	display: flex;
	width: 100%;
	margin: 10px 0px;
	padding-left: 2px;
}


.btn_complete_pay{
	height: 30px;
	background-color: rgb(11, 116, 219);
	border-radius: 5px;
	color: white;
	border: none;
}



.form_infor_user_payment{
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 8px;
	border: 1px solid #DFDFDF;
}
.form-group_infor{
	display: flex;
	flex-direction: column;
}

.form-group_infor input{
	border: 1px solid #E1E1E6;
	border-radius: 4px;
}

.form-group_infor input, label{
	margin: 10px;
	font-size: 17px;
	font-weight: 400;
	line-height: 150%;
}

.form-group_infor_button{
	display: flex;
	flex-direction: row;
}

.form-group_infor_button button{
	width: 50%;
	margin: 10px 5px 10px 10px;
	background-color: rgb(11, 116, 219);
	border-radius: 5px;
	height: 30px;
	color: white;
	border: none;
}


.form_searching{
	width: 100%;
	height: 40px;
	display: flex;
	background-color: white;
	margin: 10px 0px 20px;
}

.form_searching form{
	width: 100%;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
}

.order_searching_item{
	width: 100%;
}

.order_searching_item input{
	width: 90%;
	padding: 10px;
}

.order_searching_item button{
	margin-right: 0;
	border: 0px;
	height: 40px;
	border-radius: 4px;
	color: white;
	font-size: 1rem;
	background-color: rgb(11, 116, 229);
	cursor: pointer;
	padding: 10px;
}

.infor_detail_order{
	background-color: white;
	border-radius: 4px;
	font-size: 13px;
	margin-bottom: 20px;
	padding: 16px;
}

.detail_info_order_left{
	width: 60%;
	display: flex;
	flex-direction: column;
}

.detail_info_order_right{
	width: 40%;
	display: flex;
	flex-direction: column;
}

.order_detail_column{
	width: 100%;
	display: inline-flex;
	align-items: center;
	-webkit-box-align: center;
}

.info_title_order{
	padding:0px 0px 10px 10px;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
}

.box_order{
	display: flex;
	flex-direction: row;
}