/* responsive */

.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}


.gird_full_width{
  width: 100%;
}

.grid_row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid_column-3-0{
  padding-left: 12px;
  padding-right: 12px;
  width: 30%;
}

.grid_column-4-0{
  padding-left: 12px;
  padding-right: 12px;
  width: 40%;
}


.grid_column-2{
  width: 16.6667%;
  padding-left: 12px;
  padding-right: 12px;
}

.grid_column-2-4{
  padding-left: 12px;
  padding-right: 12px;
  width: 20%;
}


.grid_column-10{
  width: 83.3333%;
  padding-left: 12px;
  padding-right: 12px;
}

/* header */


.header {
    height: 100px;
    position: relative;
    height: var(--header-height);
    background-image: linear-gradient(0, #1fa4f1, #206bdc);
    padding: 8px 0;

}

.heading {
    margin-left: 200px;
}

.img-fluid {
    width: 100px;
    margin-left: 0;
    height: 82px;
    margin-left: 100px;
}

/* container */

.container {
    margin-top: 10px;
    width: 100%;
}

.category_heading {
    color: #2e3742;
    font-size: 1.8rem;
    padding: 12px 16px;
}

.list-group-item {
    padding: 10px;
}

.header_table{
    font-size: 1.3rem;
    font-weight: 600;
}

.image_column{
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(235, 235, 240);
    position: relative;
}

.form_searching{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: none;
}

.btn_seaching{
  background-color: #206bdc;
}


.list-inline-item a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  cursor: pointer;

}

.tool_bar {
  align-items: center;
  -webkit-box-align: center;

  display: flex;
  justify-content: space-between;
  height: 50px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.btn_seaching {
  background-color: #206bdc;
  color: white;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 36px;

}

.header_navbar-item-link{
  display: inline-block;
  font-size:1.6rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.header_navbar-item-link a :hover{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.box_container{
  display: flex;
  flex-direction: row;
}

.col-md-6 {
  margin: 10px 16px;
}
.form_insert{
  
  background-color: white;
  border-radius: 8px;
  border: 1px solid #DFDFDF;
}

.form_insertDanhMuc{
  margin: 0px 10px 10px 10px;
}

.form-group label{
  padding: 5px 0;
}


